<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
<%- include('./partials/bootstrap_cdn') %>
   
</head>
<body>
   <%- include('./partials/navbar') %>
   <% if (username) { %>
    <h1 style="text-align: center;">Welcome,  <%= username %></h1>
   <% } %>
   <% if (posts) { %>
    <ul>
        <% for(let p of posts){ %>
            <div class="card mb-2 p-2" style="text-decoration: none;">
                <h5>Title :<a href="#" class="card-body"><%= p.title %></a></h5>
                <p>Description :<%= p.body %></p>
              </div>
        <% } %>
    </ul>
   <% } %>
   
    <%- include('./partials/footer') %>
</body>
</html>